{erl_opts, [debug_info]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -sC c_src"},
   {"(freebsd)",              compile, "gmake -sC c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -sC c_src clean"},
   {"(freebsd)",              clean, "gmake -sC c_src clean"}]}.

{relx, [{release, {bcrypt, "0.2.0"}, [bcrypt]}, {include_erts, false}]}.
